<h1>Application</h1>
<p>Name: <%= @app.name %></p>
<p>Address: <%= "#{@app.address}, #{@app.city} #{@app.zip_code}" %></p>
<% if @app.description.present? %>
<p><%= "Description:" + @app.description %><p>
<% end %>
<p>Status: <%= @app.status %><p>
<% if !@app.pets.empty? %>
  <strong><%= "Links to Pets Applied For:" %></strong>
  <ul id="pets_wanted">
  <% @app.pets.each do |pet| %>
  <li>
    <%= link_to "#{pet.name} at #{pet.shelter.name}", "/pets/#{pet.id}" %>
    </li>
  <% end %>
  </ul>
<% end %>

<%= form_with url: "/apps/#{@app.id}", method: :get, local: :true do |form| %>
  <p>Add a Pet to this Application:</p>
  <%= form.label :search, "Search" %>
  <%= form.text_field :search %>
  <%= form.submit "Submit" %>
<% end %>

<% if !@pets.nil? %>
  <% @pets.each do |pet| %>
    <div id="pet_<%= pet.id %>">
      <%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
      <%= button_to "Adopt this pet", "/apps/#{@app.id}", method: :get, params: { pet_id: pet.id }, local: :true %>
    </div>
  <% end %>
<% end %><br><br>

<% if @app.pets.count > 0 %>
  <div id="submit_app">
    <% if !@app.description.present? %>
      <%= form_with url: "/apps/#{@app.id}", method: :patch, local: :true do |form| %>
        <p><strong>Please describe why you would make a good owner for these pet(s):</strong></p>
        <%= form.label :description, "Description" %>
        <%= form.text_field :description %>
        <%= form.hidden_field :status, value: "Pending" %>
        <%= form.submit "Submit Application" %>
      <% end %>
    <% else %>
      <%= form_with url: "/apps/#{@app.id}", method: :patch, local: :true do |form| %>
        <p><strong>Update why you would make a good owner for these pet(s):</strong></p>
        <%= form.label :description, "Description" %>
        <%= form.text_field :description %>
        <%= form.hidden_field :status, value: "In progress" %>
        <%= form.submit "Update Application" %>
      <% end %>
    <% end %>
  </div>
<% end %>
<br><br>
